<footer class="footer-area">
    <div class="container">
        <div class="row">

            <!-- Sol Footer Widget Area -->
            <div class="col-12 col-lg-6">
                <div class="footer-widget-area mt-50">
                    <a href="#" class="d-block mb-5"><img src="/palatin-gh-pages/img/core-img/logo.png" alt=""></a>
                    <p>En kaliteli otel deneyimini sunmak için çalışıyoruz. Müşteri memnuniyeti odaklı hizmet anlayışımızla, unutulmaz konaklama deneyimleri yaşatıyoruz.</p>
                    <p>İletişim Bilgileri.</p>
                    <p>İstanbul, Türkiye - Merkez Ofis.</p>
                    <p>90 212 555 0123.</p>
                    <p>info@otelprojesi.com.</p>
                </div>
            </div>

            <!-- Sağ Footer Widget Area -->
            <div class="col-12 col-lg-6 d-flex justify-content-lg-end mt-50">
                <div class="footer-widget-area" style="max-width: 400px; width: 100%;">
                    <h6 class="widget-title mb-5">Bültenimize Abone Olun</h6>
                    <form action="#" method="post" class="subscribe-form">
                        <input type="email" name="subscribe-email" id="subscribeemail" placeholder="E-posta Adresiniz">
                        <button type="submit">Abone Ol</button>
                    </form>
                </div>
            </div>

            <!-- Copywrite Text -->
            <div class="col-12">
                <div class="copywrite-text mt-30 text-center">
                    <p>
                        <a href="#">
                            Telif Hakkı &copy;<script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır | Bu şablon <i class="fa fa-heart-o" aria-hidden="true"></i> ile <a href="https://colorlib.com" target="_blank">Colorlib</a> tarafından yapılmıştır
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>
